menuconfig SWITCH
	tristate "Switch class support"
	help
	  Say Y here to enable switch class support. This allows
	  monitoring switches by userspace via sysfs and uevent.

if SWITCH

config SWITCH_GPIO
	tristate "GPIO Swith support"
	depends on GENERIC_GPIO
	help
	  Say Y here to enable GPIO based switch support.
	  
config ANDROID_HAEDSET
	tristate "Android headset driver for pxa"
	depends on PXA3xx_MICCO
	default n
	help
		Plesse say Y here if you want to add ANDROID headset

endif # SWITCH
